@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h3> Carteiras </h3>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Rentabilidade das Carteiras</div>
            </div>
            <div class="panel-body">
                <div id="chartCarteiras" class="chartCarteiras"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Ranking</div>
            </div>
            <div class="panel-body with-table">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Carteira</th>
                            <th>Resultado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LstTop5Carteiras)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Usuario.Nome</td>
                                <td>@item.Nome</td>
                                <td>@string.Format("{0:0.00}%", item.Resultado)</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <h4>
                Índice Bovespa
            </h4>
        </div>
    </div>
    <div class="panel-body no-padding">
        <div id="chart_ibov" class="ibovChart"></div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">

        //TODO: Mover tudo pra um arquivo separado

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var options = {
                legend: 'none'
            };

            $.ajax('/apiPublic/carteiraTopFive', { method: 'get' }).then(function (response) {

                var i = 0;
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Carteira');
                data.addColumn('number', 'Resultado');

                $(response).each(function (i, obj) {
                    data.addRow([obj.nome, obj.resultado]);
                });

                var chart2 = new google.visualization.ColumnChart(document.getElementById('chartCarteiras'));
                chart2.draw(data, options);

            });


            $.ajax('/apiPublic/IbovData/ibovData', { method: 'get' }).then(function (resp) {

                console.log(resp);
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Date');
                data.addColumn('number', 'Low'); //1 - O
                data.addColumn('number', 'Open'); //2 - H
                data.addColumn('number', 'Close'); //3 - L
                data.addColumn('number', 'High'); //4 - C

                $(resp).each(function (i, obj) {
                    data.addRow([obj[0], parseFloat(obj[3]), parseFloat(obj[1]), parseFloat(obj[4]), parseFloat(obj[2])]);
                });

                var chart = new google.visualization.CandlestickChart(document.getElementById('chart_ibov'));
                chart.draw(data, options);

            });
        }
    </script>

}