@page
@{
}

<h2>Registro efetuado com sucesso!</h2>

<div class="alert-info">
    @TempData["Nome"] Seu registro foi efetuado com sucesso, por favor, utilize a página de login para entrar no sistema.
</div>

<a class="btn btn-primary" asp-page="./SignIn">Clique aqui efetuar o login</a>