@page
@model SignOutModel
@{
}

<h4>SignOut...</h4>

<div class="alert alert-info">
    <span>SignOut realizado com sucesso!</span>
</div>

<br />
<br />

<a asp-page="/Index" class="btn btn-primary">Voltar para a página principal</a>