@page
@model SignInModel
@{
    ViewData["Title"] = "SignIn";
}

<h2>Entrar</h2>

<div class="row">
    <div class="col-sm-4">
        <div class="small">
            Login Form
        </div>
    </div>
    <div class="col-sm-4">
        <form method="post">

            @if (TempData["Message"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["Message"]
                </div>
            }

            <div class="form-group">
                <i class="glyphicon glyphicon-user"></i>
                <environment include="Development">
                    <span class="small">Utilize: psmarques@gmail.com : 1234</span>
                </environment>
            </div>

            <div class="form-group">
                <input type="email" class="form-control" placeholder="E-mail" asp-for="Email">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" asp-for="Password">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>

            <input type="submit" class="btn btn-primary" value="Entrar">
        </form>

        <a asp-page="./Register">Não possuo cadastro, desejo me cadastrar</a>
    </div>
</div>